@{
    // Obtendo o ano atual
    int anoAtual = DateTime.Now.Year;
    int anoMinimo = anoAtual - 20;
    int anoMaximo = anoAtual + 10;
}

<script src="~/js/Holerite/Formulario.js" asp-append-version="true"></script>
<script src="~/js/Sortable.js" asp-append-version="true"></script>

<style>
    .ghost {
        opacity: 0.5;
        background: #343434 !important;
        color: white !important;
    }

    #container_sortable tr:not(.tr_remove) {
        cursor: move !important
    }

    #div_tb_aprovadores, #div_tb_adm {
        min-height: auto !important;
    }
</style>

<div class="container-fluid px-4 mt-4 mb-4">
    <div class="row justify-content-between">
        <div class="col-auto">
            <div class="row h-100 no-gutters align-items-center">
                <div class="col-12">
                    <h3>@ViewData["Title"]</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid px-4" id="containerBody">
    <div class="row">
        <div class="col-12">
            <div class="container-formulario shadow p-2 p-sm-3 p-md-4 loading"> 
                <div class="row">
                    <div class="col-12 frm_request mb-4">
                        <input type="hidden" class="notClear" id="hdn_idHolerite" name="hdn_idHolerite" value="@ViewBag.id" />
                        <div class="card">
                            <div class="card-header text-white bg-dark-secundary">
                                <label class="sub-titulo-form">Dados</label>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-lg-12 col-xl-6 col-xxl-6">
                                        <div class="form-group">
                                            <label for="txt_empresa">Empresa</label>
                                            <input type="text" class="form-control obg field_autoBusca" name="txt_empresa" id="txt_empresa" data-field_type="Field_empresa" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg-12 col-xl-6 col-xxl-6">
                                        <div class="form-group">
                                            <label for="txt_funcionario">Funcionário</label>
                                            <input type="text" class="form-control obg field_autoBusca" name="txt_funcionario" id="txt_funcionario" data-field_type="Field_funcionario" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg-12 col-xl col-xxl">
                                        <div class="form-group">
                                            <label for="txt_contrato">Contrato</label>
                                            <input type="text" class="form-control obg field_autoBusca" name="txt_contrato" id="txt_contrato" data-field_type="Field_contrato" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg-auto col-xl-auto col-xxl-auto">
                                        <div class="form-group">
                                            <label for="txt_dtAdmissao">Admissão</label>
                                            <input type="date" class="form-control obg" name="txt_dtAdmissao" id="txt_dtAdmissao" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-lg-12 col-xl">
                                        <div class="form-group">
                                            <label for="txt_salarioBase">Salário base</label>
                                            <input type="text" class="form-control obg maskMoeda" name="txt_salarioBase" id="txt_salarioBase" maxlength="12" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg-12 col-xl">
                                        <div class="form-group">
                                            <label for="txt_baseINSS">Base INSS</label>
                                            <input type="text" class="form-control obg maskMoeda" name="txt_baseINSS" id="txt_baseINSS" maxlength="12" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg-12 col-xl">
                                        <div class="form-group">
                                            <label for="txt_baseFGTS">Base FGTS</label>
                                            <input type="text" class="form-control obg maskMoeda" name="txt_baseFGTS" id="txt_baseFGTS" maxlength="12" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg-12 col-xl">
                                        <div class="form-group">
                                            <label for="txt_valorFGTS">Valor FGTS</label>
                                            <input type="text" class="form-control obg maskMoeda" name="txt_valorFGTS" id="txt_valorFGTS" maxlength="12" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg-12 col-xl">
                                        <div class="form-group">
                                            <label for="txt_baseIRRF">Base IRRF</label>
                                            <input type="text" class="form-control obg maskMoeda" name="txt_baseIRRF" id="txt_baseIRRF" maxlength="12" />
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-lg col-xl col-xxl">
                                        <div class="form-group">
                                            <label for="cmb_status">Status</label>
                                            <select class="form-select obg" name="cmb_status" id="cmb_status" >
                                                <option value="">Selecione</option>
                                                <option value="1">Salvo</option>
                                                <option value="2">Finalizado</option>
                                                <option value="3">Cancelado</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg col-xl col-xxl">
                                        <div class="form-group">
                                            <label for="cmb_mes">Mês</label>
                                            <select class="form-select obg" name="cmb_mes" id="cmb_mes" runat="server">
                                                <option value="">Selecione</option>
                                                @for (int mes = 1; mes <= 12; mes++)
                                                {
                                                    <option value="@mes">@mes</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg col-xl col-xxl">
                                        <div class="form-group">
                                            <label for="cmb_ano">Ano</label>
                                            <select class="form-select obg" name="cmb_ano" id="cmb_ano">
                                                <option value="">Selecione</option>
                                                @for (int ano = anoMinimo; ano <= anoMaximo; ano++)
                                                {
                                                    <option value="@ano">@ano</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div> 


                    <div class="col-12 mb-4">
                        <div class="card">
                            <div class="card-header text-white bg-dark-secundary">
                                <label class="sub-titulo-form">Lançamentos</label>
                            </div>
                            <div class="card-body">
                                <div class="row frm_lancamento">
                                    <div class="col-12 col-sm-12 col-lg">
                                        <div class="form-group">
                                            <label for="cmb_tipo">Tipo</label>
                                            <select class="form-control obg" name="cmb_tipo" id="cmb_tipo">
                                                <option value="">Selecione</option>
                                                <option value="1">Proventos</option>
                                                <option value="2">Descontos</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg">
                                        <div class="form-group">
                                            <label for="txt_descricao">Descrição</label>
                                            <input type="text" class="form-control obg" name="txt_descricao" id="txt_descricao" maxlength="30" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg">
                                        <div class="form-group">
                                            <label for="txt_referencia">Referência</label>
                                            <input type="text" class="form-control maskMoeda" name="txt_referencia" id="txt_referencia" maxlength="12" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg">
                                        <div class="form-group">
                                            <label for="txt_valor">Valor</label>
                                            <input type="text" class="form-control obg maskMoeda" name="txt_valor" id="txt_valor" maxlength="12" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-4">
                                    <div class="col-12 text-center">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-secondary" title="Adicionar" id="btn_addLancamento">
                                                <i class="fa-solid fa-plus"></i>
                                            </button>                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row frm_request">
                                    <div class="col-12">
                                        <div class="table-responsive-xl tb-sticky-header" id="div_tb_lancamentos">
                                            <table class="table table-striped border-table tb_clear" id="tb_lancamentos">
                                                <thead>
                                                    <tr>
                                                        <th>Tipo</th>
                                                        <th>Descrição</th>
                                                        <th>Referência</th>
                                                        <th>Valor</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="container_sortable"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>

                    <div class="col-12 my-3 text-center">
                        <input type="button" class="btn btn-success" name="btn_gravar" id="btn_gravar" value="Gravar" title="Gravar" />
                        <input type="button" class="btn btn-secondary" name="btn_voltar" id="btn_voltar" value="Voltar" title="Voltar" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
